<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/spanish">Español</a></li>
              			<li><a href="/english">English</a></li>
				<li><a href="/german">Deutsch</a></li>
				<li><a href="/Games">Games</a></li>
				<li><a href="/3DDesign">3DDesign</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tombombadilbridport@gmail.com">email</a></li>
	        		<li><a href="https://github.com/vicxtor3">github.com/vicxtor3</a></li>
				</ul>
			</footer>
		</body>
	</html>
